aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.8.0
asgiref==3.8.1
async-timeout==5.0.1
attrs==25.1.0
blis==1.0.1
BTrees==6.1
catalogue==2.0.10
certifi==2024.8.30
cffi==1.17.1
Chameleon==4.6.0
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.7
cloudpathlib==0.20.0
colorama==0.4.6
confection==0.1.5
contourpy==1.3.1
cycler==0.12.1
cymem==2.0.10
distro==1.9.0
Django==5.1.4
django-widget-tweaks==1.4.8
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
exceptiongroup==1.2.2
filelock==3.17.0
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2025.2.0
gitdb==4.0.12
GitPython==3.1.44
groq==0.18.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
imutils==0.5.4
Jinja2==3.1.4
kiwisolver==1.4.8
langcodes==3.5.0
language_data==1.3.0
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
martian==2.1
matplotlib==3.10.0
mdurl==0.1.2
mpmath==1.3.0
multidict==6.1.0
multipart==1.2.1
murmurhash==1.0.11
networkx==3.4.2
numpy==2.0.2
openai==0.28.0
opencv-python==4.11.0.86
packaging==24.2
pandas==2.2.3
persistent==6.1.1
pillow==11.0.0
preshed==3.0.9
propcache==0.3.0
psutil==7.0.0
py-cpuinfo==9.0.0
pycparser==2.22
pydantic==2.10.3
pydantic_core==2.27.1
Pygments==2.18.0
PyMuPDF==1.25.0
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-gettext==5.0
pytz==2020.1
PyYAML==6.0.2
reportlab==4.3.1
requests==2.32.3
rich==13.9.4
scipy==1.15.2
seaborn==0.13.2
shellingham==1.5.4
six==1.17.0
smart-open==7.0.5
smmap==5.0.2
sniffio==1.3.1
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlparse==0.5.2
srsly==2.4.8
sympy==1.13.1
thinc==8.3.2
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
transaction==5.0
typer==0.15.1
typing_extensions==4.12.2
tzdata==2024.2
ultralytics==8.3.80
ultralytics-thop==2.0.14
urllib3==2.2.3
wasabi==1.1.3
weasel==0.4.1
wrapt==1.17.0
yarl==1.18.3
z3c.autoinclude==1.0
z3c.flashmessage==3.0
z3c.pt==4.4
zc.catalog==4.0
zc.lockfile==3.0.post1
ZConfig==4.2
zdaemon==5.1
ZODB==6.0
zodbpickle==4.2
zope.annotation==5.1
zope.app.appsetup==5.0
zope.app.publication==5.0
zope.app.wsgi==5.3
zope.authentication==5.1
zope.browser==3.1
zope.browserpage==5.0
zope.browserresource==5.2
zope.cachedescriptors==5.1
zope.catalog==5.0
zope.component==6.0
zope.configuration==6.0
zope.container==6.1
zope.contentprovider==6.0
zope.contenttype==5.2
zope.datetime==5.1
zope.deferredimport==5.0
zope.deprecation==5.1
zope.dottedname==6.0
zope.error==5.1
zope.errorview==2.0
zope.event==5.0
zope.exceptions==5.2
zope.filerepresentation==6.1
zope.formlib==6.1
zope.generations==5.1.0
zope.hookable==7.0
zope.i18n==5.2
zope.i18nmessageid==7.0
zope.index==7.0
zope.interface==7.2
zope.intid==5.1
zope.keyreference==6.1
zope.lifecycleevent==5.1
zope.location==5.1
zope.login==3.1
zope.minmax==2.3
zope.pagetemplate==5.1
zope.password==6.0
zope.principalregistry==5.1
zope.processlifetime==3.1
zope.proxy==6.1
zope.ptresource==5.1
zope.publisher==7.2
zope.schema==7.0.1
zope.security==7.3
zope.securitypolicy==5.1
zope.session==5.1
zope.site==5.1
zope.size==5.1
zope.tal==5.1
zope.tales==6.1
zope.testing==5.1
zope.traversing==5.1
zope.viewlet==5.1